# Wetter
define Wetter_PROPLANTA PROPLANTA Berlin de
attr Wetter_PROPLANTA room Weather

define Balkon_TX35DTH dummy
attr Balkon_TX35DTH room Balkon

define pushmsg Pushover foo bar

define Pumpe_Schalter FS20 7777 00
attr Pumpe_Schalter dummy 1
attr Pumpe_Schalter follow-on-for-timer 1
attr Pumpe_Schalter model fs20st
attr Pumpe_Schalter room Balkon


