!.gitignore
!99_pumpeUtils.pm
!*/
00_CM11.pm
00_CUL.pm
00_DFPlayerMini.pm
00_FBAHA.pm
00_FBAHAHTTP.pm
00_FHZ.pm
00_HMLAN.pm
00_HMUARTLGW.pm
00_HXB.pm
00_KM271.pm
00_LIRC.pm
00_MAXLAN.pm
00_MQTT.pm
00_MYSENSORS.pm
00_NetzerI2C.pm
00_OWX.pm
00_OWX_ASYNC.pm
00_RPII2C.pm
00_SIGNALduino.pm
00_SONOS.pm
00_SmartMeterP1.pm
00_TCM.pm
00_THZ.pm
00_TUL.pm
00_ZWCUL.pm
00_ZWDongle.pm
01_FHEMWEB.pm
02_FRAMEBUFFER.pm
02_FTUISRV.pm
02_HTTPSRV.pm
02_RSS.pm
09_BS.pm
09_CUL_FHTTK.pm
09_USF1000.pm
10_CUL_HM.pm
10_CUL_IR.pm
10_DUOFERNSTICK.pm
10_EIB.pm
10_EQ3BT.pm
10_EnOcean.pm
10_FBDECT.pm
10_FRM.pm
10_FS20.pm
10_HXBDevice.pm
10_IT.pm
10_Itach_IR.pm
10_KNX.pm
10_KOPP_FC.pm
10_MAX.pm
10_MQTT_BRIDGE.pm
10_MQTT_DEVICE.pm
10_MYSENSORS_DEVICE.pm
10_OWServer.pm
10_RESIDENTS.pm
10_SOMFY.pm
10_UNIRoll.pm
10_ZWave.pm
10_pilight_ctrl.pm
11_FHT.pm
11_FHT8V.pm
11_OWDevice.pm
12_HMS.pm
13_KS300.pm
14_CUL_MAX.pm
14_CUL_REDIRECT.pm
14_CUL_TCM97001.pm
14_CUL_TX.pm
14_CUL_WS.pm
14_Hideki.pm
14_SD_WS.pm
14_SD_WS07.pm
14_SD_WS09.pm
14_SD_WS_Maverick.pm
15_CUL_EM.pm
16_CUL_RFR.pm
16_STACKABLE.pm
16_STACKABLE_CC.pm
17_EGPM2LAN.pm
17_SIS_PMS.pm
18_CUL_HOERMANN.pm
19_Revolt.pm
19_VBUSIF.pm
20_FRM_AD.pm
20_FRM_I2C.pm
20_FRM_IN.pm
20_FRM_LCD.pm
20_FRM_OUT.pm
20_FRM_PWM.pm
20_FRM_RGB.pm
20_FRM_ROTENC.pm
20_FRM_SERVO.pm
20_FRM_STEPPER.pm
20_GUEST.pm
20_N4HBUS.pm
20_OWFS.pm
20_ROOMMATE.pm
20_X10.pm
21_HEOSGroup.pm
21_HEOSMaster.pm
21_HEOSPlayer.pm
21_N4HMODULE.pm
21_OWAD.pm
21_OWCOUNT.pm
21_OWID.pm
21_OWLCD.pm
21_OWMULTI.pm
21_OWSWITCH.pm
21_OWTEMP.pm
21_OWTHERM.pm
21_OWVAR.pm
21_SONOSPLAYER.pm
21_VBUSDEV.pm
22_ALL3076.pm
22_HOMEMODE.pm
23_ALL4027.pm
23_KOSTALPIKO.pm
23_LUXTRONIK2.pm
23_WEBIO.pm
23_WEBIO_12DIGITAL.pm
24_NetIO230B.pm
24_TPLinkHS110.pm
26_KM273.pm
26_tahoma.pm
30_DUOFERN.pm
30_ENECSYSGW.pm
30_HUEBridge.pm
30_LIGHTIFY.pm
30_MilightBridge.pm
30_pilight_contact.pm
30_pilight_dimmer.pm
30_pilight_raw.pm
30_pilight_smoke.pm
30_pilight_switch.pm
30_pilight_temp.pm
31_ENECSYSINV.pm
31_HUEDevice.pm
31_LightScene.pm
31_MilightDevice.pm
31_PLAYBULB.pm
32_SYSSTAT.pm
32_TechemHKV.pm
32_TechemWZ.pm
32_WifiLight.pm
32_mailcheck.pm
32_speedtest.pm
32_withings.pm
32_yowsup.pm
33_readingsChange.pm
33_readingsGroup.pm
33_readingsHistory.pm
33_readingsProxy.pm
34_ESPEasy.pm
34_NUT.pm
34_SWAP.pm
34_panStamp.pm
35_SWAP_0000002200000003.pm
35_SWAP_0000002200000008.pm
36_EC3000.pm
36_EMT7110.pm
36_EleroDrive.pm
36_EleroStick.pm
36_JeeLink.pm
36_KeyValueProtocol.pm
36_LaCrosse.pm
36_LaCrosseGateway.pm
36_Level.pm
36_PCA301.pm
36_Vallox.pm
36_WMBUS.pm
37_SHC.pm
37_SHCdev.pm
37_Spotify.pm
37_dash_dhcp.pm
37_fakeRoku.pm
37_harmony.pm
37_plex.pm
38_Broadlink.pm
38_CO20.pm
38_JawboneUp.pm
38_netatmo.pm
39_alexa.pm
39_siri.pm
40_RFXCOM.pm
41_OREGON.pm
42_Nextion.pm
42_RFXMETER.pm
42_SMARTMON.pm
42_SYSMON.pm
43_RFXX10REC.pm
44_S7.pm
44_S7_ARead.pm
44_S7_AWrite.pm
44_S7_Client.pm
44_S7_DRead.pm
44_S7_DWrite.pm
44_S7_S5Client.pm
44_S7_S7Client.pm
44_TEK603.pm
45_Plugwise.pm
45_TRX.pm
46_PW_Circle.pm
46_PW_Scan.pm
46_PW_Sense.pm
46_PW_Switch.pm
46_TRX_ELSE.pm
46_TRX_LIGHT.pm
46_TRX_SECURITY.pm
46_TRX_WEATHER.pm
47_OBIS.pm
49_IPCAM.pm
49_SSCam.pm
49_TBot_List.pm
50_HP1000.pm
50_TelegramBot.pm
50_WS300.pm
51_I2C_BH1750.pm
51_I2C_BMP180.pm
51_I2C_TSL2561.pm
51_Netzer.pm
51_RPI_GPIO.pm
52_I2C_BME280.pm
52_I2C_DS1307.pm
52_I2C_EEPROM.pm
52_I2C_HDC1008.pm
52_I2C_K30.pm
52_I2C_LCD.pm
52_I2C_MCP23008.pm
52_I2C_MCP23017.pm
52_I2C_MCP342x.pm
52_I2C_MMA845X.pm
52_I2C_PCA9532.pm
52_I2C_PCA9685.pm
52_I2C_PCF8574.pm
52_I2C_SHT21.pm
52_I2C_SHT3x.pm
53_GHoma.pm
55_InfoPanel.pm
55_PIFACE.pm
56_POKEYS.pm
57_CALVIEW.pm
57_Calendar.pm
59_HCS.pm
59_LuftdatenInfo.pm
59_OPENWEATHER.pm
59_PROPLANTA.pm
59_Twilight.pm
59_WWO.pm
59_Weather.pm
59_Wunderground.pm
60_EM.pm
60_allergy.pm
61_EMWZ.pm
62_EMEM.pm
63_EMGZ.pm
64_ESA2000.pm
66_ECMD.pm
67_ECMDDevice.pm
70_BRAVIA.pm
70_EGPM.pm
70_ENIGMA2.pm
70_JSONMETER.pm
70_Jabber.pm
70_KODI.pm
70_MEDIAPORTAL.pm
70_ONKYO_AVR.pm
70_PHTV.pm
70_PIONEERAVR.pm
70_PushNotifier.pm
70_Pushalot.pm
70_Pushbullet.pm
70_Pushover.pm
70_Pushsafer.pm
70_SCIVT.pm
70_SISPM.pm
70_SML.pm
70_STV.pm
70_TellStick.pm
70_USBWX.pm
70_VIERA.pm
70_VolumeLink.pm
70_WS3600.pm
70_XBMC.pm
71_ONKYO_AVR_ZONE.pm
71_PHILIPS_AUDIO.pm
71_PIONEERAVRZONE.pm
71_YAMAHA_AVR.pm
71_YAMAHA_BD.pm
71_YAMAHA_NP.pm
72_FB_CALLLIST.pm
72_FB_CALLMONITOR.pm
72_FRITZBOX.pm
73_ElectricityCalculator.pm
73_GasCalculator.pm
73_MPD.pm
73_NUKIBridge.pm
73_PRESENCE.pm
73_km200.pm
74_AMAD.pm
74_HOMBOT.pm
74_NUKIDevice.pm
74_Nmap.pm
74_THINKINGCLEANER.pm
74_Unifi.pm
74_XiaomiFlowerSens.pm
75_MSG.pm
75_msgConfig.pm
76_MSGFile.pm
76_MSGMail.pm
76_SMAInverter.pm
77_SMAEM.pm
77_SMASTP.pm
77_UWZ.pm
79_BDKM.pm
80_M232.pm
80_xxLG7000.pm
81_M232Counter.pm
82_LGTV.pm
82_LGTV_IP12.pm
82_LGTV_WebOS.pm
82_M232Voltage.pm
86_Robonect.pm
87_WS2000.pm
88_ALL4000T.pm
88_HMCCU.pm
88_HMCCUCHN.pm
88_HMCCUDEV.pm
88_HMCCURPC.pm
88_IPWE.pm
88_Itach_IRDevice.pm
88_Itach_Relay.pm
88_LINDY_HDMI_SWITCH.pm
88_VantagePro2.pm
88_WEBCOUNT.pm
89_HEATRONIC.pm
89_VCONTROL.pm
90_SIGNALduino_un.pm
90_at.pm
91_eventTypes.pm
91_notify.pm
91_sequence.pm
91_watchdog.pm
92_FileLog.pm
92_SingleFileLog.pm
93_DbLog.pm
93_DbRep.pm
93_FHEM2FHEM.pm
93_PWMR.pm
94_PWM.pm
95_Alarm.pm
95_Astro.pm
95_Dashboard.pm
95_FLOORPLAN.pm
95_PachLog.pm
95_PostMe.pm
95_holiday.pm
95_remotecontrol.pm
96_SIP.pm
96_Snapcast.pm
96_allowed.pm
97_TrashCal.pm
98_ArduCounter.pm
98_BOSEST.pm
98_CULflash.pm
98_ComfoAir.pm
98_CustomReadings.pm
98_DLNARenderer.pm
98_DOIF.pm
98_DOIFtools.pm
98_Dooya.pm
98_EDIPLUG.pm
98_FReplacer.pm
98_GAEBUS.pm
98_GEOFANCY.pm
98_GoogleAuth.pm
98_HMinfo.pm
98_HMtemplate.pm
98_HTTPMOD.pm
98_Heating_Control.pm
98_HourCounter.pm
98_Hyperion.pm
98_IF.pm
98_JsonList.pm
98_JsonList2.pm
98_MaxScanner.pm
98_MediaList.pm
98_Modbus.pm
98_ModbusAttr.pm
98_ModbusSET.pm
98_ModbusTrovis5576.pm
98_PID20.pm
98_QRCode.pm
98_RandomTimer.pm
98_STOCKQUOTES.pm
98_SVG.pm
98_THRESHOLD.pm
98_TRAFFIC.pm
98_Text2Speech.pm
98_UbiquitiMP.pm
98_UbiquitiOut.pm
98_Verkehrsinfo.pm
98_WOL.pm
98_WeekdayTimer.pm
98_XmlList.pm
98_alarmclock.pm
98_apptime.pm
98_archetype.pm
98_autocreate.pm
98_average.pm
98_backup.pm
98_cloneDummy.pm
98_cmdalias.pm
98_configdb.pm
98_copy.pm
98_count.pm
98_deletefile.pm
98_dewpoint.pm
98_dummy.pm
98_expandJSON.pm
98_fhemdebug.pm
98_fheminfo.pm
98_help.pm
98_logProxy.pm
98_monitoring.pm
98_notice.pm
98_pilight.pm
98_ping.pm
98_powerMap.pm
98_rain.pm
98_restore.pm
98_rssFeed.pm
98_statistics.pm
98_structure.pm
98_telnet.pm
98_template.pm
98_update.pm
98_version.pm
98_weblink.pm
98_weekprofile.pm
99_SUNRISE_EL.pm
99_Utils.pm
Blocking.pm
Color.pm
DevIo.pm
FhemUtils/
FritzBoxUtils.pm
GPUtils.pm
HMCCUConf.pm
HMConfig.pm
HOMESTATEtk.pm
HttpUtils.pm
MaxCommon.pm
ONKYOdb.pm
OWX_DS2480.pm
OWX_DS9097.pm
OWX_FRM.pm
OWX_SER.pm
RESIDENTStk.pm
RTypes.pm
SHC_datafields.pm
SHC_parser.pm
SetExtensions.pm
SubProcess.pm
TcpServerUtils.pm
TimeSeries.pm
UConv.pm
Unit.pm
WMBus.pm
WinService.pm
YahooWeatherAPI.pm
ZWLib.pm
controls_fhem.txt
firmware/
lib/
msgSchema.pm
myUtilsTemplate.pm
template.layout
